<style>
	h1 {
	--	background-color: grey;
		color: yellow
		border: 3px solid grey

	}
	p {
		background-color: grey;
		color: white
		border: 3px solid grey

	}
</style>
<h1> Chapter 9 Dictionary</h1>

<style>
	h1 {
		background-color: grey;
		color: Yellow;
		border: 3px solid grey;
		font-size: xx-large; 
	}
	p {
		background-color: grey;
		color: white;
		border: 3px solid grey;
	}
</style>
<h1> Ditionary </h1>

In [5]:
dict1 = {1:'A', 2:'B', 3:'C'}

print (dict1)
print (dict1[1])

{1: 'A', 2: 'B', 3: 'C'}
A

'A'

In [2]:
try:
	dict1[0]
except KeyError:
	print ("Key Error")

if 0 not in dict1:
	print ('0 is not a key')

Key Error
0 is not a key

### Delete an item

In [10]:
del dict1[1]
print (dict1)

{2: 'B', 3: 'C'}

### Delete an item by value

In [23]:
#delete an item that has the value 'B'

for k, v in dict(dict1).items():
	if v == 'B':
		del dict1[k]

print (dict1)

{1: 'A', 3: 'C'}

In [ ]:
## The reason to use dict(dict1)
## copy the original dictionary to iterate.
## Because the original dictionary will be changed during the iteration.

dict2 = dict1 # not an deep copy. Shallow copy. It means "Sharing the reference"
dict3 = dict(dict1) # deep-copy.

In [20]:
dict1 = {1:'A', 2:'B', 3:'C'}

dict1 = { key:value for key, value in dict1.items() if dict1[key] != 'B'}

print (dict1)

{1: 'A', 3: 'C'}

<p>&nbsp;</p>

<ul>
<li style="list-style-type:disc"><span style="font-size:13pt"><span style="font-family:Lato,sans-serif"><span style="color:#595959">Create a dictionary to manage the student&rsquo;s scores&nbsp;</span></span></span>

<ul>
	<li style="list-style-type:circle"><span style="font-size:11pt"><span style="font-family:Lato,sans-serif"><span style="color:#595959">key : student&rsquo;s name</span></span></span></li>
	<li style="list-style-type:circle"><span style="font-size:11pt"><span style="font-family:Lato,sans-serif"><span style="color:#595959">value: list of scores</span></span></span></li>
</ul>
</li>
</ul>

<table cellspacing="0" style="border-collapse:collapse; border:none; width:NaN">
	<tbody>
		<tr>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Kim</span></span></span></p>
			</td>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">100</span></span></span></p>
			</td>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">80</span></span></span></p>
			</td>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">70</span></span></span></p>
			</td>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">60</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Bill</span></span></span></p>
			</td>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">100</span></span></span></p>
			</td>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">90</span></span></span></p>
			</td>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">80</span></span></span></p>
			</td>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">60</span></span></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Mary</span></span></span></p>
			</td>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">90</span></span></span></p>
			</td>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">80</span></span></span></p>
			</td>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">70</span></span></span></p>
			</td>
			<td style="border-bottom:1px solid #9e9e9e; border-left:1px solid #9e9e9e; border-right:1px solid #9e9e9e; border-top:1px solid #9e9e9e; vertical-align:top">
			<p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">100</span></span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<ul>
	<li style="list-style-type:disc"><span style="font-size:13pt"><span style="font-family:Lato,sans-serif"><span style="color:#595959">Get the summation of kim&rsquo;s scores</span></span></span></li>
	<li style="list-style-type:disc"><span style="font-size:13pt"><span style="font-family:Lato,sans-serif"><span style="color:#595959">Get the lowest score of Mary&rsquo;s scores</span></span></span></li>
</ul>

In [29]:
scores_record = { 	'Kim':[100,80,70,60],
			'Bill':[100,90,80,60],
			'Mary':[90,80,70,100]}

sname = input('Enter the student name')
try:
	scores = scores_record[sname]
except KeyError:
	print ("Key Error")
else:
	print ("Student {0}'s score summation {1}".format(sname, sum(scores)))
	print ("Student {0}'s lowest score {1}".format(sname, min(scores)))

Student Kim's score summation 310
Student Kim's lowest score 60

## Mixing Data Type

In [31]:
mdict1 = { 1:100, 'Scores':[10, 20, 30], 'Name':'Junior', 'Course':['CS1','CS2','CS3']}

print (mdict1)

{1: 100, 'Scores': [10, 20, 30], 'Name': 'Junior', 'Course': ['CS1', 'CS2', 'CS3']}

## Iterate over a dictionary

In [33]:
scores_record = { 	'Kim':[100,80,70,60],
			'Bill':[100,90,80,60],
			'Mary':[90,80,70,100]}

for key in scores_record.keys():
	print (scores_record[key])

[100, 80, 70, 60]
[100, 90, 80, 60]
[90, 80, 70, 100]

In [34]:
for value in scores_record.values():
	print (value)

[100, 80, 70, 60]
[100, 90, 80, 60]
[90, 80, 70, 100]

In [36]:
for key, value in scores_record.items():
	print (key)
	print (value)

Kim
[100, 80, 70, 60]
Bill
[100, 90, 80, 60]
Mary
[90, 80, 70, 100]

### fromkey()

In [79]:
keys = [1,2,3]
values = ['Kim', 94598, '1 Main Street']

dict1 = dict.fromkeys(keys,values)

print (dict1)

{1: ['Kim', 94598, '1 Main Street'], 2: ['Kim', 94598, '1 Main Street'], 3: ['Kim', 94598, '1 Main Street']}

## Example 2
Create a dictionary from the existing dictionary with subset of keys

In [84]:
emp_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

keys =['name', 'salary']

new_dict = {}
for k in keys:
	try:
		new_dict[k] = emp_dict[k]
	except KeyError:
		pass
print (new_dict)

{'name': 'Kelly', 'salary': 8000}

In [85]:
new_dict = { k:emp_dict[k] for k in keys} 	# simple , but there is no error check
print (new_dict)

{'name': 'Kelly', 'salary': 8000}

## Example 3

Delete a list of keys from a dictionary

In [86]:
emp_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

keys = ['age', 'city']

for k in keys:
    emp_dict.pop(k)     # pop() returns a value and delete the item at the same time

print (emp_dict)

{'name': 'Kelly', 'salary': 8000}

In [87]:
emp_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

keys = ['age', 'city']

emp_dict = { k:emp_dict[k] for k in emp_dict.keys() - keys}
print (emp_dict)

{'name': 'Kelly', 'salary': 8000}

<style>
	h1 {
		background-color: grey;
		color: Yellow;
		border: 3px solid grey;
		font-size: xx-large; 
	}
	p {
		background-color: grey;
		color: white;
		border: 3px solid grey;
	}
</style>
<h1> Asterisk in Python </h1>

Single * : Unpacking

In [ ]:
lst = [10, 20, 30]

print (lst)
print (*lst)

[10, 20, 30]
10 20 30

In [ ]:
listoflist = [ [1,2,3], [4,5,6]]

print (*listoflist)

[1, 2, 3] [4, 5, 6]

In [70]:
l1 = [1,2,3]
l2 = [4,5,6]

l1.append(l2)
print (l1)

[1, 2, 3, [4, 5, 6]]

In [78]:
l1 = [1,2,3]
l2 = [4,5,6]

l3 = [l2]
print (l3)
l3 = [*l2]
print (l3)

[[4, 5, 6]]
[4, 5, 6]

In [71]:

l1 = [1,2,3]
l2 = [4,5,6]
l3 = [*l1, *l2]
print (l3)

[1, 2, 3, 4, 5, 6]

In [56]:

def fn(**kwargs):
	for k, v in kwargs.items():
		print (k, v)

dict1 = {'a':1, 'b':2, 'c':3}
# dict1 = {1:'a', 2:'b', 3:'c'}
#################	KEYWORDS should be STRING!!

fn(**dict1)
fn(name='Kim', score=100, address='94598')

a 1
b 2
c 3
name Kim
score 100
address 94598

### Merge two dictionary

In [61]:
dict1 = {'name': 'KIM', 'ZIP':94598, 'address':'1234 Grand ave'}
dict2 = {'score':[100,90], 'Grade':'Senior'}
dict3 = {**dict1, **dict2}

print (dict3)

{'name': 'KIM', 'ZIP': 94598, 'address': '1234 Grand ave', 'score': [100, 90], 'Grade': 'Senior'}

In [63]:
dict3 = dict1.copy()
dict3.update(dict2)
print (dict3)

{'name': 'KIM', 'ZIP': 94598, 'address': '1234 Grand ave', 'score': [100, 90], 'Grade': 'Senior'}

<style>
	h1 {
		background-color: grey;
		color: Yellow;
		border: 3px solid grey;
		font-size: xx-large; 
	}
	p {
		background-color: grey;
		color: white;
		border: 3px solid grey;
	}
</style>
<h1> zip </h1>

### Zip Ex1

In [16]:
l1 = [1,2,3]

result = zip(l1)

for i in result:
	print (i)

l2 = ['a', 'b', 'c']

result = zip (l1, l2)
for i in result:
	print (i)
for i in result:		# Think of this loop. print or not?
	print (i)

(1,)
(2,)
(3,)
(1, 'a')
(2, 'b')
(3, 'c')

In [1]:
l1 = [1,2,3]
l2 = [4,5,6]

enumlist = enumerate(zip(l1, l2))
print (enumlist)

<enumerate object at 0x7fcde93a4640>

In [2]:
for value in enumlist:
	print (value)

for id, l1val, l2val in enumlist:
	print (id, l1val, l2val)

(0, (1, 4))
(1, (2, 5))
(2, (3, 6))

## Zip to Dictionary

### Example 5

In [20]:
courseID = [ 1001, 1002, 1003]
courseName = ['C Programming', 'Java Programming', 'Python Programming']

course_dict = dict(zip(courseID, courseName))
for k, v in course_dict.items():
	print (k,v)


for k in course_dict.keys():
	print (course_dict[k])

for value in course_dict.values():
	print (value)

1001 C Programming
1002 Java Programming
1003 Python Programming
C Programming
Java Programming
Python Programming
C Programming
Java Programming
Python Programming

## Example 6

Make a heading to the result value set

In [112]:
heading = ['ID', 'Name', 'Address']
valueset = [ (10, 'Kim', '124 Main'), (20, 'Jim', '345 Grand'), (30, 'Bill', '123 Blvd')]

dict1 = dict(zip(heading, valueset[0]))
print (dict1)


zipped = [dict( zip(heading, value)) for value in valueset ]
for k in zipped:
	print (k)

{'ID': 10, 'Name': 'Kim', 'Address': '124 Main'}
{'ID': 10, 'Name': 'Kim', 'Address': '124 Main'}
{'ID': 20, 'Name': 'Jim', 'Address': '345 Grand'}
{'ID': 30, 'Name': 'Bill', 'Address': '123 Blvd'}

<style>
	h1 {
		background-color: grey;
		color: Yellow;
		border: 3px solid grey;
		font-size: xx-large; 
	}
	p {
		background-color: grey;
		color: white;
		border: 3px solid grey;
	}
</style>
<h1> * operator in zip <br> Unzip </h1>

In [28]:

# Student's information: ID, Name, GradeLevel, Zip
student_list = [ [1001, 'Bill', 'Senior', 94568],
		 [1002, 'Kurt', 'Junior', 94598],
		 [1003, 'Kim', 'Senior', 94598] ]

print (student_list)

print (zip(*student_list))
for value in zip(*student_list):
	print (value)

IDlist, Namelist, Glist, Zlist = zip(*student_list)

print (IDlist)
print (Zlist)

[[1001, 'Bill', 'Senior', 94568], [1002, 'Kurt', 'Junior', 94598], [1003, 'Kim', 'Senior', 94598]]
<zip object at 0x7ff5205c60c0>
(1001, 1002, 1003)
('Bill', 'Kurt', 'Kim')
('Senior', 'Junior', 'Senior')
(94568, 94598, 94598)
(1001, 1002, 1003)
(94568, 94598, 94598)

In [40]:
dictionary1 = { 10:"Kurt", 20:"Jim", 30:"Bill"}
print (dictionary1)

unzipped = zip(*dictionary1.items())

for values in unzipped:
	print (values)

IDlist, Namelist = zip(*dictionary1.items())
print (IDlist)	# tuple
print (Namelist) # tuple

IDlist?

{10: 'Kurt', 20: 'Jim', 30: 'Bill'}
(10, 20, 30)
('Kurt', 'Jim', 'Bill')
(10, 20, 30)
('Kurt', 'Jim', 'Bill')

Type:        tuple
String form: (10, 20, 30)
Length:      3
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [43]:

for v in zip(*Namelist):
	print (v)

('K', 'J', 'B')
('u', 'i', 'i')
('r', 'm', 'l')

In [44]:
namelist = ['Kim', 'Bill', 'Kurt']

for v in zip(*namelist):
	print (v)

('K', 'B', 'K')
('i', 'i', 'u')
('m', 'l', 'r')

In [1]:
list1 = [ [10, 20, 30], ['Kim', 'Jim', 'Sam']]

for value in zip(*list1):
	print (value)
for value in zip(list1):
	print (value)

(10, 'Kim')
(20, 'Jim')
(30, 'Sam')
([10, 20, 30],)
(['Kim', 'Jim', 'Sam'],)

<style>
	h1 {
		background-color: grey;
		color: Yellow;
		border: 3px solid grey;
		-- font-size: xx-large; 
	}
	p {
		background-color: grey;
		color: white;
		border: 3px solid grey;
	}
</style>
<h1 font-size:40px> Map </h1>

In [3]:
def 	square(val):
	return val * val

lst = [1,2,3,4,5]

sqrmap = map(square, lst)

for v in sqrmap:
	print (v)

sqrlst = list(sqrmap)
print (sqrlst)

1
4
9
16
25
[]

In [5]:

sqr = lambda val : val * val

lst = [1,2,3,4,5]

sqrmap = map(sqr, lst)

for v in sqrmap:
	print (v, end=' ')

sqrlst = list(sqrmap)
print (sqrlst)

1 4 9 16 25 []

In [8]:

list('sat')

mylst = ['C++', 'Python', 'Java']

mapobj = map(list, mylst)

for val in mapobj:
	print (val)

['C', '+', '+']
['P', 'y', 't', 'h', 'o', 'n']
['J', 'a', 'v', 'a']

## Example 7

Map: make all elements values in the list have half

In [11]:
mylist = [10, 20, 30, 40, 50]

for value in map(lambda x : x /2, mylist):
	print (value, end=' ')

5.0 10.0 15.0 20.0 25.0

## Example 8

Map: make all elements values in the list have 0, 1 based on the even or odd number

In [12]:
mylist = [5, 10, 15, 20, 21, 25, 27]

for value in map(lambda x : 0 if x % 2 == 0 else 1, mylist):
	print (value, end=' ')

1 0 1 0 1 1 1

<style>
	h1 {
		background-color: grey;
		color: Yellow;
		border: 3px solid grey;
		-- font-size: xx-large; 
	}
	p {
		background-color: grey;
		color: white;
		border: 3px solid grey;
	}
</style>
<h1 font-size:40px> Filter </h1>

In [16]:
def evenfilter(val):
	return True if val % 2 == 0 else False

lst = [1,2,3,4,5]

filterobj = filter(evenfilter, lst)
for value in filterobj:
	print (value)

2
4

## Example 9

Map and zip

In [22]:
def greater(tvalue):
	x,y = tvalue
	if (x>y): 
		return True
	else:
		return False

mylist = [ 5, 10, 15, 25, 20, 55, 40]

zipped = list(zip(mylist, mylist[1:]))
print (zipped)

print (list(filter(greater, zipped)))

for x,v in list(filter(greater, zipped)):
	print (x)

[(5, 10), (10, 15), (15, 25), (25, 20), (20, 55), (55, 40)]
[(25, 20), (55, 40)]
25
55

## Example 10

Zip, Filter, and map

In [58]:

greater = lambda x: x[0] > x[1]
makehalf = lambda x : x[0] / 2 

mylist = [ 5, 10, 15, 25, 20, 55, 40]

for x in map( makehalf, filter(greater, zip(mylist[1::], mylist) )):
	print (x, end=' ')

5.0 7.5 12.5 27.5

In [80]:
#step by step

mylist = [ 5, 10, 15, 25, 20, 55, 40]

for val in zip(mylist[1::], mylist):
	print (val)

greater = lambda x : x[0] > x[1] 
for val in filter(greater, zip(mylist[1::], mylist)):
	print (val)

makehalf = lambda x : x[0]/2

for  val in map(makehalf, filter(greater, zip(mylist[1::], mylist) )):
	print (val)

(10, 5)
(15, 10)
(25, 15)
(20, 25)
(55, 20)
(40, 55)
(10, 5)
(15, 10)
(25, 15)
(55, 20)
5.0
7.5
12.5
27.5

<style>
	h1 {
		background-color: grey;
		color: Yellow;
		border: 3px solid grey;
		-- font-size: xx-large; 
	}
	p {
		background-color: grey;
		color: white;
		border: 3px solid grey;
	}
</style>
<h1 font-size:40px> Reduce </h1>

In [89]:
from functools import reduce

lst = [1,2,3,4,5,6,7,8,9,10]
# lst = [1,2,3,4, 5]

lstsum = lambda x, y: x + y

print (reduce(lstsum, lst))

55

## Example 11

Reduce : find the max

In [97]:
mylist = [ 5, 10, 15, 25, 20, 55, 40]

myavg = lambda x,y : x if x > y else y

average = reduce(myavg, mylist)

print (average)

55

## Example 12

Reduce : get an average

In [100]:
mylist = [ 5, 10, 15, 25, 20, 55, 40]

myavg = lambda x,y : x + y

average = reduce(myavg, mylist) / len(mylist)

print ("Average of the list: {0:.2f}".format(average))

Average of the list: 24.29

## Reduce with oprator 

import operator

In [104]:
from functools import reduce
import operator

mylist = [1,2,3,4,5]

sum = reduce(operator.add, mylist)
print (sum)

productoflist = reduce(operator.mul, mylist)
print (productoflist)

15
120