## Data Analysis Example
### Sample Excel File for SuperStore : 

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

In [ ]:
import xlrd

wb = xlrd.open_workbook('SampleSuperStore.xls')
# ws = wb.active
ws = wb.sheet_by_index(0)

# data = [ws.row_values(rowx) for rowx in range(ws.nrows)]

listrows = []
for row in range(5):
	listrows.append(ws.row_values(row))


print (listrows)

In [1]:
import pandas as pd

df = pd.read_excel('SampleSuperStore.xls')

df[:3]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [5]:
df[ (df['State'] == 'California') & (df['City'] == 'Los Angeles')][:3]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.86,7,0.0,14.1694
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.28,4,0.0,1.9656

In [ ]:
df.info()
df.dtypes

In [ ]:
print (df.count())

In [12]:
df.loc[0]

Row ID                                           1
Order ID                            CA-2016-152156
Order Date                     2016-11-08 00:00:00
Ship Date                      2016-11-11 00:00:00
Ship Mode                             Second Class
Customer ID                               CG-12520
Customer Name                          Claire Gute
Segment                                   Consumer
Country                              United States
City                                     Henderson
State                                     Kentucky
Postal Code                                  42420
Region                                       South
Product ID                         FUR-BO-10001798
Category                                 Furniture
Sub-Category                             Bookcases
Product Name     Bush Somerset Collection Bookcase
Sales                                       261.96
Quantity                                         2
Discount                                       0.0
Profit                                     41.9136
Name: 0, dtype: object

In [6]:
df.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [ ]:
pd.set_option('display.max_columns', 100)
df[df['State'] == 'California']

In [ ]:
df[df['City'] == 'Los Angeles']

In [ ]:
df[(df['City'] == 'Los Angeles' )| (df['City'] == 'Costa Mesa')]

In [51]:
df.loc[100]['Order ID']

'CA-2016-158568'

In [ ]:
df[df['State'].str.contains(r'^C+')]

### Misc

In [6]:
string1 = "Hello-World-2021-and-welcolme-2022"

ret = string1.split('-')
print (ret)

first, second, third, *rest = string1.split('-')
print (first, second, third)

['Hello', 'World', '2021', 'and', 'welcolme', '2022']
Hello World 2021

#### Re

In [24]:
import re

reg = re.compile("Ca+")
string = 'California'
print (bool(re.match(reg, string )))

True

#### <a ref="https://www.dataquest.io/blog/regular-expressions-data-scientists/"> Common Python Regex Patterns </a>
<img src="https://nimbus-screenshots.s3.amazonaws.com/s/b80b8bd249ab7ba7e92d6205a165b66f.png" align=left>