<img src="https://nimbus-screenshots.s3.amazonaws.com/s/cbd2ce18f901517114c62d417dc51a9b.png">

# <p style="background-color:grey; color:white"> 1. List</p>

#### Create a list with the values

In [4]:
l1 = [10, 20, 30]
l2 = l1
l2[0] = 100
print (l1)
print (l2)

l2 = [100, 200, 300]
print (l1) # 100 20 30   # 100 200 300 
print (l2)
l1 is l2 # false

[100, 20, 30]
[100, 20, 30]
[100, 20, 30]
[100, 200, 300]

num = [10, 20, 30]

print (num[1])

num[1] = 99
print (num[1])

In [4]:
num = []
num.append(20)
print (num)

[20]

In [5]:
num = [0] * 5
print (num)

[0, 0, 0, 0, 0]

In [11]:
num = [0] * 5

for i in range(5):
	num[i] = i

print (num)

# num[5] = 10
num.append(10)

num.insert(2, 99)
print (num)

[0, 1, 2, 3, 4]
[0, 1, 99, 2, 3, 4, 10]

In [14]:
numbers = [ 5, 15, 0, 25, 35, 40]
# print (len(numbers))

summation = 0
for i in range(len(numbers)):
	summation += numbers[i] 
print (summation)
print (summation / len(numbers))

120
20.0

In [ ]:
numbers = [ 5, 15, 0, 25, 35, 40]

# average value
for i in range(len(numbers)):
	summation += numbers[i] 
average = summation / len(numbers)

for i in range(len(numbers)):
	if ( numbers[i] > average ):
		print (numbers[i])

In [2]:
numbers = [5, 10, 15, 20]
print (numbers)

[5, 10, 15, 20]

#### Create a list with range function

In [4]:
numbers = list(range(5))
print (numbers)

[0, 1, 2, 3, 4]

#### Create a list with Repetition Operator

In [5]:
numbers = [0] * 5
print (numbers)

[0, 0, 0, 0, 0]

In [6]:
numbers = [0, 1, 2] * 3
print (numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

#### List with a for loop

In [8]:
numbers = [10, 20, 30, 40, 50]

for n in numbers:
	print (n, end=' ')

10 20 30 40 50

### Indexing

In [14]:
numbers = [10,20,30,40,50]

for i in range(5):
	print (numbers[i] , end='\t')
print ()

for i in range(0, 5, 2):
	print (numbers[i] , end='\t')

10	20	30	40	50
10	30	50

In [15]:
print (numbers[-1])
print (numbers[-3])
print (numbers[-5])

50
30
10

### Change List Value

In [17]:
num = [10, 20, 30, 40, 50]

for i in range(5):
	num[i] += 10

for v in num:
	print (v, end=' ')

20 30 40 50 60

#### When you use for-each loop, list valus are not changed

In [18]:
num = [10, 20, 30, 40, 50]

for v in num:
	v += 10	
	print (v, end=' ') 	# Values are added to 10
for v in num:
	print (v, end=' ')

10 20 30 40 50

### Assign 5 user values to the list

In [54]:
N = 5
numbers = []
for i in range(5):
	user_input = int(input('Enter your input'))
	numbers.insert(i, user_input)

for v in numbers:
	print (v, end=' ')

2 3 2 1 3

### Assign 5 random values to the list

In [55]:
import random
N = 5

randnums = []
for i in range(N):
	randnums.insert(i, random.randint(0,100))

for v in randnums:
	print (v, end=' ')

79 42 3 47 39

## <p style="background-color:grey; color:white"> Finding Items in Lists with the in Operator </p>

#### <p style="background-color:grey; color:white"> Using <mark> in </mark> Operator </p>
#### <a href="https://docs.python.org/3/tutorial/datastructures.html#more-on-lists"> List methods </a>

#### <img src="https://nimbus-screenshots.s3.amazonaws.com/s/96ec82085f2158f6b65131dfc475632f.png"> </img>

### Find an item in a list
<mark> in </mark>

In [19]:
num_list = [10, 20, 30, 40, 50]

target = int(input('Enter the target number'))

if target in num_list:
	print ("Target found in the list")
else:
	print ("Target is not in the list")

Target found in the list

Find an item with index number

In [22]:
num_list = [10, 20, 30, 40, 50]

target = int(input('Enter the target number'))

if target in num_list:
	print ("Target found at the index ", num_list.index(target))
else:
	print ("Target is not in the list")

Target is not in the list

#### Traditional way to find an item

In [29]:
num_list = [10, 20, 30, 40, 50]

target = int(input('Enter the target number'))

for i in range(len(num_list)):
	if num_list[i] == target:
		print ("Target found at the index ", i) 
		break
if ( i == len(num_list)-1):
	print ("Target is not in the list")

Target is not in the list

### Append method

In [ ]:
num1 = [10, 20, 30, 40, 50]
num1.append(60)
num1

[10, 20, 30, 40, 50, 60]

In [ ]:

num1 = []
num1[0] = 10  # ERROR

### Append() an item or list?

In [76]:
num1 = [10, 20, 30]
num2 = [40, 50, 60]

num1.append(num2) 	# Not [10, 20, 30, 40, 50. 60]
num1

[10, 20, 30, [40, 50, 60]]

### Extend()

In [78]:
num1 = [10, 20, 30]
num2 = [40, 50, 60]

num1.extend(num2)
num1

[10, 20, 30, 40, 50, 60]

### count() : number of elements with the specified value

In [79]:
num1 = [0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1]

num1.count(1) # number of occurrences

5

### pop() : Removes the element at the specified position

In [46]:
num1 = [10, 20, 30]

num1.pop(len(num1)-1)
num1

[10]

### Insert an item into the list
### insert()

In [31]:
num_list = [10, 20, 30, 40, 50]

add_val = 15

num_list.insert(0, add_val)

for v in num_list:
	print (v, end=' ')

15 10 20 30 40 50

#### Insert an item at the last index

In [29]:
num_list = [10, 20, 30, 40, 50]

num_list.insert(len(num_list), 60)
print (num_list)

[10, 20, 30, 40, 50, 60]

### Insert an intem with out-of-range index

In [31]:
num_list = [10, 20, 30, 40, 50]

num_list.insert(10, 60) 	# do not try with uncertain index
print (num_list)

[10, 20, 30, 40, 50, 60]

In [ ]:
num_list = [10, 20, 30, 40, 50]

num_list[5] = 60 	# ERROR

#### Insert an item into sorted list (We need to find the index to insert)

In [46]:
num_list = [10, 20, 30, 40, 50]

add_val = 75

flag = 0
for i in range(len(num_list)):
	if ( num_list[i] > add_val):
		num_list.insert(i, add_val)
		flag = 1
		break
if ( flag == 0 ): 
	num_list.insert(i+1, add_val)

for v in num_list:
	print (v, end=' ')

10 20 30 40 50 75

#### insert an item into the sorted list. Version 2: for - else

In [49]:
num_list = [10, 20, 30, 40, 50]

add_val = 75

for i in range(len(num_list)):
	if ( num_list[i] > add_val):
		num_list.insert(i, add_val)
		break
else:
	num_list.insert(i+1, add_val)

for v in num_list:
	print (v, end=' ')

10 20 30 40 50 75

#### insert an item into the sorted list. Version 3: while loop

In [44]:
num_list = [10, 20, 30, 40, 50]

add_val = 65  

i = 0
while i < (len(num_list)):
	if ( num_list[i] > add_val):
		num_list.insert(i, add_val)
		break
	i += 1
else:
	num_list.insert(i+1, add_val)

for v in num_list:
	print (v, end=' ')

10 20 30 40 50 65

#### Sort method of list

In [5]:
import random

N = 5
rdnums = []
for i in range(N):
	rdnums.insert(i, random.randint(0,100))

rdnums.sort()
print (rdnums)

[35, 45, 58, 70, 71]

#### Sorted() <mark>Function</mark> vs list.sort( ) <mark> method </mark>

In [60]:
nums = [15, 10, 5, 25, 20]

sorted_nums = sorted(nums)

print (nums)
print (sorted_nums)

[15, 10, 5, 25, 20]
[5, 10, 15, 20, 25]

#### remove() method
#### try - except : Exception handling

In [61]:
nums = [10, 20, 25, 30, 35]
delete_key = int(input('Enter a number'))
nums.remove(delete_key)
nums

[20, 25, 30, 35]

#### remove() method
#### Try to remove the element that is not in the list

In [ ]:
nums = [10, 20, 25, 30, 35]
delete_key = 40 		# 40 is not in the list 
nums.remove(delete_key)		# Cause an error since the delete key value is not in the list
nums

#### remove() method
#### try - except : Exception handling

In [64]:
nums = [10, 20, 25, 30, 35]
try:
	delete_key = 40 		# 40 is not in the list 
	nums.remove(delete_key)		# Cause an error since the delete key value is not in the list
except ValueError:
	print ('Key Error: There is no value ', delete_key)

Key Error: There is no value  40

#### del <mark> statement </mark>
#### del : remove an element from a specific index

In [66]:
nums = [10, 20, 25, 30, 35]

del nums[0] 			# remove the 1st element 
nums

[20, 25, 30, 35]

#### reverse()

In [82]:
nums = [1, 2, 3]
nums.reverse()
nums

[3, 2, 1]

#### min() and max() <mark> Functions </mark>

In [84]:
nums = [15, 5, 10, 25, 20]

print (min(nums))
print (max(nums))

5
25

## <p style="background-color:grey; color:white"> Copying Lists</p>

### is operator

In [85]:
a = 10
b = a
a is b

True

In [88]:
b = 20
print (b)
print (a)
a is b

20
10

False

### For the string

In [89]:
str1 = "string 1"
str2 = str1
str1 is str2

True

In [91]:
str2 = "string 2"
str1 is str2

False

### For the list
<img src="https://p76.f0.n0.cdn.getcloudapp.com/items/Apuxogdy/18fcc3ed-eaa2-4972-bba0-43b2ebe8627d.jpg?v=0cd7c351468e37a91f12c9edebc7ef4d">

In [92]:
l1 = [10, 20, 30]
l2 = l1
l1 is l2

True

In [93]:
l2[0] = 100
l1 is l2

True

In [96]:
print (l1)

[100, 20, 30]

In [94]:
l2 = [40, 50, 60]
l1 is l2

False

## <p style="background-color:grey; color:white"> Two Dimensional Lists</p>

<img src="https://nimbus-screenshots.s3.amazonaws.com/s/cec30e20a1ae0c92c974b9451f723a3e.png">

In [97]:
numbers = [ 	[10, 11, 12, 13, 14],
		[20, 21, 22, 23, 24],
		[30, 31, 32, 33, 34]]

numbers

[[10, 11, 12, 13, 14], [20, 21, 22, 23, 24], [30, 31, 32, 33, 34]]

In [98]:
print (numbers[0][3])

13

## Get a summation of each row

In [17]:

rnum = 3
cnum = 5
numbers = [ 	[10, 11, 12, 13, 14],
		[20, 21, 22, 23, 24],
		[30, 31, 32, 33, 34]]


for i in range(rnum):
	rsum = 0
	for j in range(cnum):
		rsum += numbers[i][j]
	print ("The summation of row {0}: {1}".format(i, rsum))

The summation of row 0: 60
The summation of row 1: 110
The summation of row 2: 160

## Get a summation of each column

In [18]:

rnum = 3
cnum = 5
numbers = [ 	[10, 11, 12, 13, 14],
		[20, 21, 22, 23, 24],
		[30, 31, 32, 33, 34]]


for i in range(cnum):
	csum = 0
	for j in range(rnum):
		csum += numbers[j][i]
	print ("The summation of column {0}: {1}".format(i, csum))

The summation of column 0: 60
The summation of column 1: 63
The summation of column 2: 66
The summation of column 3: 69
The summation of column 4: 72

## Get a summation of each row with built-in function sum()

In [24]:
rnum = 3
cnum = 5
numbers = [ 	[10, 11, 12, 13, 14],
		[20, 21, 22, 23, 24],
		[30, 31, 32, 33, 34]]
for i in range(rnum):
	row_sum = sum(numbers[i])
	print ("The summation of row {0}: {1}".format(i, row_sum))

max(numbers)

The summation of row 0: 60
The summation of row 1: 110
The summation of row 2: 160

[30, 31, 32, 33, 34]

## Count the cross shape which consists of '1'

In [21]:
rnum = 10
cnum = 10
numbers = [ 	[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
		[0, 1, 0, 0, 0, 1, 0, 0, 1, 0],
		[1, 1, 1, 0, 1, 1, 1, 1, 1, 1],
		[0, 1, 0, 0, 1, 1, 1, 0, 1, 0],
		[0, 1, 0, 0, 0, 1, 0, 1, 0, 0],
		[0, 0, 0, 0, 0, 0, 0, 1, 1, 0],
		[0, 1, 0, 0, 0, 1, 0, 0, 0, 0],
		[0, 1, 1, 1, 0, 1, 0, 0, 1, 0],
		[0, 1, 0, 1, 0, 1, 0, 1, 1, 1],
		[0, 0, 0, 0, 0, 0, 0, 0, 1, 0]]

cnt = 0
for i in range(1, rnum-1):
	for j in range(1, cnum-1):
		if ( numbers[i][j]):
			if ( numbers[i-1][j] and numbers[i+1][j] and numbers[i][j-1] and numbers[i][j+1]):
				cnt += 1

print ("The total cross shape is ", cnt)

The total cross shape is  5

## Find the greatest number in 2 dimensional number
#### 1) Take the row and column number from the user
#### 2) Fill in the matrix with the random numbers
#### 3) Find the greatest number in the matrix

***
# 2) Tuples
### Concept: A tuple is an <mark> immutable </mark> sequence, 
### which means that its contents cannot be changed.

In [25]:
my_tuple = (1, 2, 3, 4, 5)
print (my_tuple)

(1, 2, 3, 4, 5)

#### Immutable

In [ ]:
my_tuple = (10, 20, 30)

my_tuple[0] = 0 	# ERROR

In [ ]:
del my_tuple[0]		# ERROR

In [39]:
print (my_tuple[0]) 	# Indexing is okay

10

### What is the difference between lists and tuples
### <mark> Immutability </mark>

<img src="https://nimbus-screenshots.s3.amazonaws.com/s/4d7d8a62dead41859692394cdcf12ecf.png">

<img src="https://nimbus-screenshots.s3.amazonaws.com/s/3b617274d3305b6b1c551ef439e90aa5.png">

In [28]:
my_tuple = (10, 20, 30)

print (len(my_tuple))
print (max(my_tuple))

if 10 in my_tuple:
	print ("It contains 10 ")

3
30
It contains 10

### To create a single element tuple

In [27]:
value = (10)

value?		# value is an interger

Type:        int
String form: 10
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [40]:
value = (10, )	 # value is a tuple
value?

Type:        tuple
String form: (10,)
Length:      1
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

<img src="https://nimbus-screenshots.s3.amazonaws.com/s/8bb0f967a09719bffb769282971374e9.png">

## Comparison between list and tuple and set
<img src="https://nimbus-screenshots.s3.amazonaws.com/s/be1dba984959505927758e7863a83216.png">

## Converting Between lists and Tuples

In [42]:
num_tuples = (10, 20, 30)
num_lists = list(num_tuples)

print (num_lists)
print (num_tuples)

[10, 20, 30]
(10, 20, 30)

In [43]:

num_tuples = tuple(num_lists)
print (num_tuples)

(10, 20, 30)

In [1]:
import numpy as np

for i in np.arange(4):
	print (i)

0
1
2
3